<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers',server.id]"
        [queryParams]="{allowEdit:(server.id==3)? '1': '0', 'mode':'editing', 'error':'NO_ERR'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>

      <!-- <a
        [routerLink]="['/servers',server.id,'edit']"
        [queryParams]="{allowEdit:'1', 'mode':'editing', 'error':'NO_ERR'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a> -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
      <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary" (click)="onReloadServers()">Reload Servers</button>
    <app-edit-server></app-edit-server>
    <hr> -->
    <!-- <app-server [server]= "servers[0]" ></app-server> -->   
  </div>
</div>

